.planPage {
  width: 100%;
  margin: 0 auto;

  .accountNav {
    width: 100%;
    display: flex;
    background: #e8eded;
    margin: 2rem auto;

    .navItem {
      font-size: 21px;
      padding: 0.5rem 2rem;

      .itemText {
        padding: 1rem;
      }
    }

    .selectedItem {
      background: #b55dfc;
      color: white;
    }

    .unselectedItem:hover {
      background: #e3e3e3;
      cursor: pointer;
    }
  }

  .parentContainer {
    width: 100%;
    margin: 3rem auto;
  }

  .plansContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}