.checkoutPage {
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  width: 80%;

  .checkoutSummary {
    display: flex;
    flex-direction: column;
    border: 1px solid #b55dfc;
    border-radius: 10px;
    min-width: 300px;

    .planRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;

      .leftText {

      }

      .rightText {
        font-size: 26px;
        font-weight: 400;
      }
    }

    .summaryTop {
      background: #e3e3e3;
      padding: 1rem 2rem;
      border-radius: 12px 12px 0 0;
      font-size: 24px;
    }

    .selectedPlan {
      padding: 2rem 2rem;
    }

    .payButtonContainer {
      display: flex;
      justify-content: center;
      padding: 1rem 0;
    }
  }
}