.card {
  width: 48%;
  border: 2px #f2f2f2 solid;
  margin: 20px 0;
  border-radius: 0 0 12px 12px;
  box-shadow: 4px 4px 36px 4px #e3e3e3;

  .header {
    background: #f2f2f2;
    padding: 25px 15px;
    display: flex;

    .headerText {
      font-size: 26px;
      font-weight: 500;
    }
  }

  .cardBody {
    width: 100%;
    padding: 20px;

    .bodyHeading {
      font-size: 36px;
      font-weight: 500;
    }
  }

  .ctaContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px #f2f2f2 solid;
    border-radius: 0 0 6px 6px;

    .cta {
      width: 50%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      align-items: center;
      font-size: 16px;
      cursor: pointer;
    }

    .cta:hover {
      background: #000000;
      color: white;
    }
  }
}