.contactHeader {
  margin: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 48px;
    }

    .email {
      font-weight: 400;
      font-size: 24px;
    }
  }

  .actionsButton {
    background: #b8bab8;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #454745;
    cursor: pointer;
  }

  .contactStatus {
    background-color: #27d417;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 10px;
  }

  .middle {

  }

  .right {

  }
}

.contactBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 5rem;

  .heading {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  .left {
    width: 75%;
  }

  .right {
    width: 25%;

    .tagsList {
      display: flex;
      flex-wrap: wrap;

      .contactTag {
        background: #e8eded;
        padding: 5px 20px;
        margin: 10px 20px 0 0;
        border-radius: 5px;
        display: flex;
        align-items: center;

        .tagName {
          margin-right: 10px;
        }

        .cross {
          cursor: pointer;
        }
      }
    }
  }
}