.container {
  width: 100%;
  height: 60vh;
  border: 2px #f2f2f2 solid;

  .header {
    display: flex;
    height: 48px;
    align-items: center;
    background: #f2f2f2;
    padding-left: 12px
  }

  .scroll {
    overflow-y: scroll;
  }

  .rowContainer {
    cursor: pointer;

    .contactRow {
      height: 44px;
      display: flex;
      align-items: center;
      padding-left: 12px;
    }
  }

  .rowContainer:hover {
    background: #f2f2f2;
  }

  .col {
    width: 18%;

  }

  .colEmail {
    width: 28%;
  }

  .separator {
    background: #f2f2f2;
    opacity: 0.3;
    margin: 0;
  }
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaded {
  display: flex;
  flex-direction: column;
}