.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .logo {
    padding: 1rem 0 2rem 1rem;
  }

  .linkTag {
    text-decoration: none;
    width: 100%;
  }

  .navLink {
    width: 100%;
    color: #414242;
    font-size: 21px;
    padding: 0.8rem 0;

    .text {
      margin-left: 1rem;
    }
  }

  .navHighlighted {
    background: #b55dfc;
    color: white;
  }
}