.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 6px 6px 36px 4px #e3e3e3;

  border-radius: 10px;

  .left {
    width: 25%;
    overflow: hidden;

    .name {
      font-size: 26px;
    }

    .length {
      margin-top: 10px;
    }
  }

  .middle {
    .updated {
      margin-top: 10px;
    }
  }

  .right {
    .button {
      background: #000000;
      width: 150px;
      height: 36px;
      border-radius: 10px;
      color: white;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }

    .button:focus {
      outline: none;
    }
  }
}

.tag:hover {
  border: 2px solid #b55dfc;
}